<div class="navnav">
  <div class="svg">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="auto" viewBox="0 0 410 76" fill="none">
      <path d="M0 30.3392C0 5.35487 5.35487 0 30.3392 0H379.661C404.645 0 410 5.35487 410 30.3392V45.6608C410 70.6451 404.645 76 379.661 76H30.3392C5.35487 76 0 70.6451 0 45.6608V30.3392Z" fill="#004643"/>
    </svg>
    <div class="geeft">
      <div class="g-title">
        <div class="g-letter"><%= link_to 'g', root_path(@current_user) %></div>
        <img src="https://cdn-icons-png.flaticon.com/512/744/744546.png" alt="christmas">
      </div>
      <i class="fa-solid fa-gift"></i>
    </div>
  </div>
</div>
