<div class="navnav">
  <div class="navnav-container">
    <%= link_to :back do %>
      <div class="back-btn">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
    <% end %>

    <%= link_to root_path(@current_user), class: "geeft" do %>
      <div class="g-title">
        <div class="g-letter">g</div>
        <img src="https://cdn-icons-png.flaticon.com/512/744/744546.png" alt="christmas">
      </div>
      <i class="fa-solid fa-gift"></i>
    <% end %>

    <div class="burger-btn" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" data-turbo-method="delete" href="#">Déconnexion</a>
    </div>
  </div>
</div>
