<div class= "body-container" >
<h1>Mes prochains évènements :</h1>
<div class= "body-category category-title" ><h4>Noël</h4><h5>25 Décembre 2023</h5></div>
<div class= "body-category category-title" ><h4>Crémaillère de Candice</h4><h5>17 Octobre 2024</h5></div>
<div class= "body-category category-title" ><h4>Anniv de Lolo le charo</h4><h5>6 Septembre 2024</h5></div>
<%= link_to 'Trouver un cadeau', new_event_path, class: "big-btn" %>
</div>

<div class= "body-container" >
<a class="hidden-link" href="https://shattereddisk.github.io/rickroll/rickroll.mp4">lfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</a>
</div>
