<div class= "body-container" >
<h1 class="page-title home">Mes prochains évènements</h1>
<div class= "body-category" ><h4>Noël</h4><h5>dans 3 jours</h5></div>
<div class= "body-category" ><h4>Crémaillère de Candice</h4><h5>dans 2 semaines</h5></div>
<div class= "body-category" ><h4>Anniv de Lolo le charo</h4><h5>le mois prochain</h5></div>
<%= link_to 'Trouver un cadeau', new_event_path, class: "big-btn" %>
<a class="hidden-container" href="https://shattereddisk.github.io/rickroll/rickroll.mp4"> hhhhhhhhhhh</a>
</div>
