<h1>liste de cadeaux</h1>
  <%#= @geeft_list = event.content %>
  <% @gifts.each_with_index do |gift, index| %>
    <% if index < 5 %>
      <div class="list-item" index="<%= index %>"><%= gift %></div>
    <% else %>
      <div class="list-item d-none" index="<%= index %>"><%= gift %></div>
    <% end %>
  <% end %>

<%# ici il faudra rajouter la fonction de delete/shuffle click
pour faire apparaître une autre idée cadeau, donc on va listen le bouton delete,
ce bouton va trigger une action qui va prendre l'index de l'idée cadeau, et la pop,
et mettre à jour la liste en ajouter le premier dans la liste d'attente de l'array %>
<%# index_to_delete =
deleted_geeft = @geeft_list.delete_at(index_to_delete)
@geeft_list[index_to_delete] = "New Value" %>

<%# puis réafficher les cinq premiers %>

<%# il faut également ajouter ici le potentiel post prompt  %>
 <%# # c'est ici que j'effectue mon postprompt, je dois trouver un moyen de poursuivre le premier prompt, ou alors le réitérer et ajouter l'input user au nouveau prompt, déplacer tout cela dans l'edit ou l'update %>
<%# <% event.update_content %>
