input .go-geeft-btn {
 background-color: #1b4543;
//  position: fixed;
//  bottom: 1em;
//  top: calc(100vh - 4em);
//  left: 1em;
 align-self: center;
 width: 100%;
 border-radius: 0.5em;
 height: 4em;
 color: white;
 border: 0;
 font-size: 2em;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 z-index: 2;
}

.genre-buttons {
  display: flex;
  gap: 1em;
}

.genre-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  line-height: 0;
  border-radius: 20em;
  padding: 0.4em 0.8em;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Vertical_gradient.jpg/731px-Vertical_gradient.jpg');
  background-attachment: fixed;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: rgb(7, 49, 10);
  border: 1px solid rgb(7, 49, 10);
}

.genre-button > i {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.custom-input .function-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.62em;
  height: 3em;
  border-radius: 1em;
  padding: 0;
  padding-right: 0.05em;
  background-color: #1b4543;
  border: 0;
}

// .custom-input-btn {
//   display: flex;
//   color: white;
//   justify-content: center;
//   align-items: center;
//   width: 3.62em;
//   height: 3em;
//   border-radius: 1em;
//   padding: 0;
//   padding-right: 0.05em;
//   background-color: #1b4543;
//   border: 0;
// }

button > i {
    top: 0;
    left: 0;
    font-size: 1.5em;
    height: auto;
    margin: 0;
    padding: 0;
}

button[data-action="click->custom-interest#addcustominterestasapill"] > .fa-plus {
  color: white;
  font-weight: 300;
}
