.body-container {
  width: 100%;
  height: calc(fit-content + 20em);
  padding: 1em;
  background-color: #b3d0c6;
  padding-bottom: 5em;
}

.hidden-container {
  background-color: #b3d0c6;
  color: #b3d0c6;
  display: flex;
  padding: 4em;
  justify-content: center;
  padding-bottom: 3em;
  width: 100%;
  height: 1em;
}
