h1 {
  margin-bottom: 1.5em;
}

.gift-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}

.gift-item-row {
  background-color: beige;
  border-radius: 0.5em;
  // display: flex;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 4em;
  height: fit-content;
  align-items: center;
  border-left: 3px solid rgb(3, 87, 3);
}

.gift-item {
  margin: 1em;
  margin-right: 0;;
}

.gift-item-row .d-none {
  opacity: 0;
}

.shuffle {
  height: 100%;
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
}

.shuffle i {
  align-self: center;
}

/* Pour changer la justification du text */
// .gift-item {
  // text-wrap: balance;
// }

// button {
//   background-color: transparent;
//   height: 100%;
//   border: 1px solid red;
// }
