
.ctrl {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D5DCE6;
  background-color: #fff;
  border-radius: 5px;
  font-size: 15px;
  height: 50px;

  &__counter {
    position: relative;
    width: 200px;
    height: 50px;
    color: #333C48;
    text-align: center;
    overflow: hidden;

    &.is-input {
      .ctrl__counter-num {
        visibility: hidden;
        opacity: 0;
        transition: opacity 100ms ease-in;
      }

      .ctrl__counter-input {
        visibility: visible;
        opacity: 1;
        transition: opacity 100ms ease-in;
      }
    }

    &-input {
      width: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 2;
      box-shadow: none;
      outline: none;
      border: none;
      color: #333C48;
      font-size: 30px;
      line-height: 50px;
      text-align: center;
      visibility: hidden;
      opacity: 0;
      transition: opacity 100ms ease-in;
    }

    &-num {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      line-height: 50px;
      visibility: visible;
      opacity: 1;
      transition: opacity 1000ms ease-in;

      &.is-increment-hide {
        opacity: 0;
        transform: translateY(-50px);
        animation: increment-prev 100ms ease-in;
      }

      &.is-increment-visible {
        opacity: 1;
        transform: translateY(0);
        animation: increment-next 100ms ease-out;
      }

      &.is-decrement-hide {
        opacity: 0;
        transform: translateY(50px);
        animation: decrement-prev 100ms ease-in;
      }

      &.is-decrement-visible {
        opacity: 1;
        transform: translateY(0);
        animation: decrement-next 100ms ease-out;
      }
    }
  }

  &__button {
    width: 100px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #8498a7;
    transition: background-color 100ms ease-in;

    &:hover {
      background-color: mix(#8498a7, #fff, 90%);
      transition: background-color 100ms ease-in;
    }

    &:active {
      background-color: mix(#8498a7, #000, 90%);
      transition: background-color 100ms ease-in;
    }

    &--decrement {
      border-radius: 5px 0 0 5px;
    }

    &--increment {
      border-radius: 0 5px 5px 0;
    }
  }
}

// keyframes

@keyframes decrement-prev {
  from {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes decrement-next {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@keyframes increment-prev {
  from {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes increment-next {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
}
