.card-share, .occasion, .list-share {
  border-radius: 2em;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card-share-name, .card-share-date, .card-date, .card-share {
  position: relative;
  border-radius: 2em;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #1b4543;
  color: #FFF3E1;
  margin-bottom: 1em;
  padding: 1em 1.5em;
  padding-bottom: 1.1em;

  & > p {
    font-size: 1.3em;
    margin-bottom: 0em;
    padding: 1em 1.5em;
    padding-bottom: 0.1em;
  }

  &.card-date {
    width: 11em;
    font-family: 'Junge', sans-serif;
  }
}

#card-share-event {
  position: relative;
  border-radius: 2em;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #1b4543;
  color: #FFF3E1;
  margin-bottom: 1em;
  margin-right: 0.4em;
  height: 10.4em;
  padding: 1em 1.5em;
  padding-bottom: 1.1em;
  font-family: 'Junge', sans-serif;
  display: flex;
  align-items: center;

  & > p {
    font-size: 1.1em;
    margin-bottom: 0em;
  }
}

.card-share-display{
  position: relative;
  border-radius: 2em;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #1b4543;
  color: #FFF3E1;
  margin-bottom: 1em;
  margin-right: 0.4em;
  height: 10.4em;
  padding: 1em 1.5em;
  padding-bottom: 1.1em;
  font-family: 'Junge', sans-serif;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 11em;

  & > p {
    font-size: 1.1em;
    margin-bottom: 0em;
  }
}

h2 {
  font-family: Junge, sans-serif;
  font-size: 2em;
  color: #FFF3E1;
  padding-left: 0;
  margin-bottom: 0.8em;
  margin-top: 0.6em;
}

.event-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 0.5em;
  & > p {
    font-size: 1.8em;
    margin-bottom: 0em;
    font-family: 'Otomanopee One', sans-serif;
    color: #FFF3E1;
  }

}

.top-page {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 2em;
}

.form-control, #name, #description, #cagnotte {
  border-radius: 1em;
  font-family: 'Junge', sans-serif;
  border: 1px solid #ccc;
  width: 100%;
  height: 3em;
  padding: 1em;
  font-size: 17px;
  background-color: #FFF3E1;
}

#description {
  height: 6em;
}

.form-control {
  height: 3em;
  color: #004643;
  border: 2px #004643 solid;
  width: 9em;
}

.share-label::placeholder {
  font-style: italic;
  color: grey;
}

.form-label {
  padding-left: 0.5em;
}

.share-display-event {
  margin-top: 1em;
  margin-bottom: 1.1em;
  position: relative;
  height: 6.2em;
}

.date-overflow {
  position: absolute;
  font-family: 'Junge', sans-serif;
  top: -18px;
  right: 30px;
  background-color: #FFF3E1;
  border-radius: 13.6px;
  width: 8em;
  height: 2.3em;
  color: #004643;
  border: 1px solid #004643;
  & > p {
    font-size: 1.2em;
    margin-bottom: 0em;
    padding: 0.3em 0.7em;
  }
}

#geefts {
  border-radius: 2em;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #1b4543;
  color: #1b4543;
  margin-top: 1em;
}

.description-share{
  position: relative;
  border-radius: 2em;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #1b4543;
  color: #FFF3E1;
  margin-bottom: 1em;
  padding: 1em 1.5em;
  padding-bottom: 1.1em;
  margin-top: 1em;

}

.notes {
  position: absolute;
  font-family: 'Junge', sans-serif;
  top: -18px;
  right: 30px;
  background-color: #FFF3E1;
  border-radius: 13.6px;
  width: 8em;
  height: 2.3em;
  color: #004643;
  border: 1px solid #004643;
}

.share-title {
  color: #FFF3E1 !important;
  padding-left: 0.4em !important;
}

.gift-item > a {
  text-decoration: none;
  color: #004643;
}

.share-page-title {
  display: flex;
  justify-content: space-between;
}

.edit-delete-share-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.3em;
  justify-content: end;
  align-items: baseline;
  height: fit-content;
  margin-bottom: 2em;
}

.share-page-title h1 {
  margin-bottom: 1em !important;
}

.input-to-hide {
  width: 20px;
  opacity: 0;
}

.date-overflow > p {
  padding: 0.2em 0.8em;
}

.alert.alert-light {
  top: 9.9em;
  height: fit-content;
  width: fit-content;
  left: 10em;
  border-radius: 1em;
}

#flash-link {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.alert.alert-light.d-none {
  display: none !important;
}

button[name="button"] {
  font-size: 0.7em;
  height: 3.3em;
  line-height: normal;
  border-radius: 1.4em;
}
